{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load staticfiles %}

{% block title %}
Instructions
{% endblock %}

{% block content %}

<div text-align="justify">
    For each question, you will see 6 options of how to distribute jobs across periods. The leftmost 
    response button indicates that all 100,000 jobs are created <strong>{{earlier_time}}</strong>. The rightmost response 
    button indicates that all jobs are created <strong>{{later_time}}</strong>. The buttons in between
    represent different combinations of some jobs created <strong>{{earlier_time}}</strong> and some jobs created 
    <strong>{{later_time}}</strong>. So, you decide how to distribute jobs created between the two 
    periods. In some questions, the maximum number of jobs created <strong>{{later_time}}</strong> is
    larger than the maximum number <strong>{{earlier_time}}</strong>; in others, it is smaller or the same. So the total
    number of jobs created over the two period varies across questions. 
    <br>
    <br>
    Here is an example: [show screenshot of grid CTB with third radio button marked] 
    <br>
    <br>
    The respondent in this example marked the third response button to indicate that 400,000 jobs 
    <strong>{{earlier_time}}</strong> and 720,000 jobs <strong>{{later_time}}</strong> is the best economy. 
    <br>
    <br>
    How about you? When you are ready to select the combination of jobs created that YOU
    think represents the best economy, click “Next”. Remember, there are no “right” or “wrong” answers. 
    <br>
    <br>
</div>

<div class="next-button"  style="text-align: center;">
    {% next_button %}
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'consent/scripts/consent.js' %}"></script>
{% endblock %}