{% extends "global/Page.html" %}
{% load otree static %}


{% block content %}

{{ form.check_slider_five_year.errors }}
{{ form.check_slider_one_year.errors }}

<script>
	$(document).ready(function () {
        $('input[name=slider_one_year]').on('input', function () {
            $('input[name=slider_one_year]').addClass('one-year-thumb');
        });
    	$('input[name=slider_one_year]').on('input change', function() {
        	$('#id_check_slider_one_year').val(1);
    	});
    });
    	$(document).ready(function () {
        $('input[name=slider_five_year]').on('input', function () {
            $('input[name=slider_five_year]').addClass('five-year-thumb');
        });
    	$('input[name=slider_five_year]').on('input change', function() {
        	$('#id_check_slider_five_year').val(1);
    	});
    });
</script>

<div class="results" align="justify" style="font-size:large;">
    The next two questions ask you to indicate your subjective feeling of duration between different times in the past. 
    Move the slider to indicate how long you consider the duration between the two time points. 
    <br>
    <br>
    How long do you consider the duration between now and a year ago? 
</div>

<input type="hidden" name="check_slider_one_year" value="" id="id_check_slider_one_year"/>
<br>
<table>
    <tr>
        <input type="range" name="slider_one_year" value="0" step="1" align="center" min="0" max="260" id="id_slider_one_year">
    </tr>
    <tr>
        <td>
            <div style='text-align: left; font-size: larger;'>very short</div>
        </td>
        <td style="width: 82.1%">
        </td>
        <td>
            <div style='text-align: right; font-size: larger;'>very long</div>
        </td>
    </tr>
</table>

<br>
<br>
<div class="results" align="justify" style="font-size:large;">
    How long do you consider the duration between now and five years ago? 
</div>


<input type="hidden" name="check_slider_five_year" value="" id="id_check_slider_five_year"/>
<br>
<table>
    <tr>
        <input type="range" name="slider_five_year" value="0" step="1" align="center" min="0" max="260" id="id_slider_five_year">
    </tr>
    <tr>
        <td>
            <div style='text-align: left; font-size: larger;'>very short</div>
        </td>
        <td style="width: 82.1%">
        </td>
        <td>
            <div style='text-align: right; font-size: larger;'>very long</div>
        </td>
    </tr>
</table>

<br>
<br>


<script>
    function alertFunction() {
        alert("In order for your answers to be most helpful to us, it is really important that you respond to all questions.")
        jQuery('.waiting').hide();
        jQuery('.next-button').show();
        return false
    }
    jQuery("#id_slider_five_year").on("click", function () {
        jQuery(".next-button").show();
        jQuery(".waiting").hide();
    });
</script>

<div class="waiting" onclick="return alertFunction();" style="text-align: center;">
    {% next_button %}
</div>

<div class="next-button" style="text-align: center;">
    {% next_button %}
</div>

<script>jQuery(".next-button").hide();</script>

{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'App2/styles/LineLengths.css' %}" />
{% endblock %}