{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

<style>
  input[type=radio] {
    margin-top: 8px;
    margin-left: -24px;
  }
</style>

<br>
<div class="results" align="justify">
    <span style="font-size: large">Generally speaking, do you usually think of yourself as a Republican, a Democrat, an Independent, or other? </span>
    <div class="formfield" style="font-size: large">
        {% formfield player.political_orientation label="" %}
    </div>
</div>
<br>
<script>
    function alertFunction() {
        alert("In order for your answers to be most helpful to us, it is really important that you respond to all questions.")
        jQuery('.waiting').hide();
        jQuery('.next-button').show();
        return false
    }
    jQuery(".form-check-input").on("click", function () {
        jQuery(".next-button").show();
        jQuery(".waiting").hide();
    });
</script>

<div class="waiting" onclick="return alertFunction();" style="text-align: center;">
    {% next_button %}
</div>

<div class="next-button" style="text-align: center;">
    {% next_button %}
</div>

<script>jQuery(".next-button").hide();</script>
{% endblock %}