{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

<style>
  input[type=radio] {
    margin-top: 8px;
    margin-left: -24px;
  }
</style>

{% if player.field_maybe_none('political_orientation') == 1 %}

<div id="republican">
    <span style="font-size: large">Would you call yourself a strong Republican or a not very strong Republican?</span>
    <div style="font-size: large" class="formfield-follow">{% formfield player.republican_option label="" %}</div>
</div>
{% elif player.field_maybe_none('political_orientation')  == 2 %}
<div id="democrat">
    <span style="font-size: large">Would you call yourself a strong Democrat or a not very strong Democrat?</span>
    <div style="font-size: large" class="formfield-follow">{% formfield player.democrat_option label="" %}</div>
</div>
{% else %}
<div id="independent">
    <span style="font-size: large">Do you think of yourself as CLOSER to the Republican Party or to the Democratic Party?</span>
    <div style="font-size: large" class="formfield-follow">{% formfield player.independent_option label="" %}</div>
</div>
{% endif %}



<script>
    function alertFunction() {
        alert("In order for your answers to be most helpful to us, it is really important that you respond to all questions.")
        jQuery('.waiting').hide();
        jQuery('.next-button').show();
        return false
    }
    jQuery(".form-check-input").on("input", function () {
        jQuery(".next-button").show();
        jQuery(".waiting").hide();
    });
</script>
<br>

<div class="waiting" onclick="return alertFunction();" style="text-align: center;">
    {% next_button %}
</div>

<div class="next-button" style="text-align: center;">
    {% next_button %}
</div>

<script>jQuery(".next-button").hide();</script>

{% endblock %}