{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

<style>
  input[type=radio] {
    margin-top: 8px;
    margin-left: -24px;
  }
</style>

<br>
<div class="results" align="justify">
    <p style="font-size: larger">Generally speaking, do you usually think of yourself as a Republican, a Democrat, an Independent, or other? </p>
    <br>
    <div style="font-size: larger; list-style-type: none;">
        <ul id="id_political_orientation">
            <li>
        <label for="id_political_orientation_0"><input type="radio" name="political_orientation" value="1" id="id_political_orientation_0" class="form-check-input">
         Republican</label>
        
        </li>
            <li>
        <label for="id_political_orientation_1"><input type="radio" name="political_orientation" value="2" id="id_political_orientation_1" class="form-check-input">
         Democrat</label>
        
        </li>
            <li>
        <label for="id_political_orientation_2"><input type="radio" name="political_orientation" value="3" id="id_political_orientation_2" class="form-check-input">
         Independent</label>
        
        </li>
            <li>
        <label for="id_political_orientation_3"><input type="radio" name="political_orientation" value="4" id="id_political_orientation_3" class="form-check-input">
         Other</label>
        
        </li>
        </ul>
    </div>
</div>
<br>
<div id="republican">
    <p style="font-size: larger">Would you call yourself a strong Republican or a not very strong Republican?</p>
    <div style="font-size: larger" class="formfield-follow">{% formfield player.republican_option label="" %}</div>
</div>

<div id="democrat">
    <p style="font-size: larger">Would you call yourself a strong Democrat or a not very strong Democrat?</p>
    <div style="font-size: larger" class="formfield-follow">{% formfield player.democrat_option label="" %}</div>
</div>

<div id="independent">
    <p style="font-size: larger">Do you think of yourself as CLOSER to the Republican Party or to the Democratic Party?</p>
    <div style="font-size: larger" class="formfield-follow">{% formfield player.independent_option label="" %}</div>
</div>

<script>
     function revealFunction() {
        jQuery('.reveal-next').hide();
        jQuery('.next-button').show();

        const rbs = document.querySelectorAll('input[name="political_orientation"]');
        let selectedValue;
        for (const rb of rbs) {
            if (rb.checked) {
                selectedValue = rb.value;
                break;
            }
        }
        console.log(selectedValue);
        if (selectedValue == 1) {
            jQuery('#independent').hide();
            jQuery('#democrat').hide();
            jQuery('#republican').show();
        } else if (selectedValue == 2) {
            jQuery('#independent').hide();
            jQuery('#republican').hide();
            jQuery('#democrat').show();
        } else {
            jQuery('#republican').hide();
            jQuery('#democrat').hide();
            jQuery('#independent').show();
        }
        return false;
    }
</script>

<div class="reveal-next" onclick="return revealFunction();" style="text-align: center;">
    {% next_button %}
</div>

<div class="next-button" style="text-align: center;">
    {% next_button %}
</div>

<script>
    jQuery(".next-button").hide();
    jQuery("#independent").hide();
    jQuery("#republican").hide();
    jQuery("#democrat").hide();
</script>

{% endblock %}