{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}
<br>
<div class="results" align="justify" style="font-size: larger">
    <span>Do you currently live in the United States?</span>
    <div class="formfield" style="font-size: large">
        {% formfield player.vs_respondents label="" %}
    </div>
</div>
</div>

<script>
    function alertFunction() {
        alert("In order for your answers to be most helpful to us, it is really important that you respond to all questions.")
        jQuery('.waiting').hide();
        jQuery('.next-button').show();
        return false
    }
    jQuery(".formfield").on("input", function () {
        jQuery(".next-button").show();
        jQuery(".waiting").hide();
    });
</script>

<div class="waiting" onclick="return alertFunction();" style="text-align: center;">
    {% next_button %}
</div>

<div class="next-button" style="text-align: center;">
    {% next_button %}
</div>

<script>jQuery(".next-button").hide();</script>

{% endblock %}