{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load staticfiles %}

{% block title %}
Instructions
{% endblock %}

{% block content %}

<div align="center">
    <h2 text-align="center">
        <strong style="text-transform: uppercase; color: orange;">FUTURE: </strong><span style="text-transform: uppercase;">{{earlier_time}}</span> and <span style="text-transform: uppercase;">{{later_time}}</span>
    </h2>
</div>
<br>
<div text-align="justify" style="font-size: larger;">
    Next, we will ask you several questions about a different pair of periods: Temporary (1-year contract) jobs created
    <strong>{{earlier_time}}</strong> and temporary jobs created <strong>{{later_time}}</strong>. 
</div>
<br>
<br>

<div style="text-align: center;">
    {% next_button %}
</div>


{% endblock %}
