/* center sliders in page */
.center {
    margin-left: auto;
    margin-right: auto;
    vertical-align: bottom;
}

/* make sliders vertical */
.rotate {
    width: 450px; /* change the height of the bars (use width marker because of rotation) */
    transform: rotate(270deg);
    vertical-align: bottom;
    -moz-transform: rotate(270deg); /* do same for other browsers if required */
}

/* new thumb that appears when clicked */
.slider_one_thumb::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #007afe;
    border: 2px solid #000000;
    height: 230px !important;
    border-radius: 50%;
    box-shadow: 210px 0 0 200px rgb(43, 173, 43);
    width: 10% !important;
    border-radius: 0px !important;
    background: rgb(154, 214, 235) !important;
    cursor: pointer !important;
    -webkit-appearance: none !important;
}


input[name=slider_one] {
    -webkit-appearance: none;
}

input[name=slider_one]:focus {
    outline: none;
}

/* the track itself */
input[name=slider_one]::-webkit-slider-runnable-track {
    overflow:hidden;
    height: 200px; /* control the width of the bars */
    cursor: pointer;
    background: #d3d3d3;
    border-radius: 0px;
    border: 1px solid #000000;
}

/* hide original thumb */
input[name=slider_one]::-webkit-slider-thumb {
    border: 0px;
    height: 0px;
    width: 0px;
    border-radius: 0px;
    -webkit-appearance: none;
}

/* for slider two */
/* new thumb that appears when clicked */
.slider_two_thumb::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #007afe;
    border: 2px solid #000000;
    height: 230px !important;
    border-radius: 50%;
    box-shadow: -210px 0 0 200px rgb(43, 173, 43);
    width: 10% !important;
    border-radius: 0px !important;
    background:rgb(154, 214, 235) !important;
    cursor: pointer !important;
    -webkit-appearance: none !important;
}

input[name=slider_two] {
    -webkit-appearance: none;
}

input[name=slider_two]:focus {
    outline: none;
}

/* the track itself */
input[name=slider_two]::-webkit-slider-runnable-track {
    overflow:hidden;
    height: 200px; /* control the width of the bars */
    cursor: pointer;
    background: #d3d3d3;
    border-radius: 0px;
    border: 1px solid #000000;
}

/* hide original slider thumb */
input[name=slider_two]::-webkit-slider-thumb {
    border: 0px;
    height: 0px;
    width: 0px;
    border-radius: 0px;
    -webkit-appearance: none;
}

.bubble-one {
    background: rgb(154, 214, 235);
    color: black;
    position: relative;
    padding: 4px 12px;
    font-weight: bold;
    visibility: hidden;
    border-radius: 4px;
    left: -30%;
}

.bubble-two {
    background: rgb(154, 214, 235);
    color: black;
    position: relative;
    padding: 4px 12px;
    font-weight: bold;
    visibility: hidden;
    border-radius: 4px;
    left: 30%;
}

.bubble-center {
    background: rgb(154, 214, 235);
    color: black;
    width: 600%;
    position: relative;
    left: -250%;
    border-radius: 4px;
    z-index: -1;
    /* width: 300px;
    position: relative;
    border-radius: 4px;
    z-index: -1; */
}