{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load staticfiles %}

{% block title %}
Instructions
{% endblock %}

{% block content %}
<div align="center">
    <h2 text-align="center">
        <strong style="text-transform: uppercase; color: orange;">FUTURE: </strong><span style="text-transform: uppercase;">{{curr_block.text_delay_start}}</span> and <span style="text-transform: uppercase;">{{curr_block.text_total_end}}</span>
    </h2>
</div>

<div text-align="justify" style="font-size: large;">
The next section of this survey is about your views of <strong>temporary job creation</strong> now, a year from now, and five years from now. Studies have shown that temporary job creation is beneficial to both job candidates and employers.
<br>
<br>
First, we will ask you several questions about temporary (1-year contract) jobs created <strong>{{curr_block.text_delay_start}}</strong> and temporary jobs created <strong>{{curr_block.text_total_end}</strong>.
<br>
<br>
In each question, you will be able to indicate which combination of temporary jobs created <strong>{{curr_block.text_delay_start}}</strong> and <strong>{{curr_block.text_total_end}</strong> you think represents <strong>the best economy</strong>. Some people might think the best economy would create all temporary jobs {{curr_block.text_delay_start} even though that would mean higher unemployment {{curr_block.text_total_end}. Other people may think the best economy would create all temporary jobs {{curr_block.text_total_end} even though that would mean higher unemployment {{curr_block.text_delay_start}. Still others may think the best economy would divide the number of jobs created between the two periods in some way.
<br>
<br>

<div style="text-align: center;">
    {% next_button %}
</div>

{% endblock %}
