{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load staticfiles %}


{% block content %}
<div align="center">
    <h2 text-align="center">
        <strong style="text-transform: uppercase; color: fuchsia;">PAST: </strong><span style="text-transform: uppercase;">{{curr_block.text_total_end}}</span> and <span style="text-transform: uppercase;">{{curr_block.text_delay_start}}</span>
    </h2>
</div>
<br>
<div text-align="justify" style="font-size: large;">
    For each question, you will see 6 options of how to distribute jobs across periods. The leftmost response button indicates that all 500,000 jobs are created {{curr_block.text_total_end}}. The rightmost response button indicates that all jobs are created {{curr_block.text_delay_start}}. The buttons in between represent different combinations of some jobs created {{curr_block.text_total_end}} and some jobs created {{curr_block.text_delay_start}}. So, you decide how to distribute jobs created between the two periods to represent the best economy. 
    <br>
    <br>
    In some questions, the maximum number of jobs that could have been created {{curr_block.text_delay_start}} is larger than the maximum number of jobs that could have been created {{curr_block.text_total_end}}; in others, it is smaller or the same. So, the total number of jobs that could have been created over the two periods varies across questions.
    <br>
    <br>
    Here is an example: [show screenshot of grid CTB with third radio button marked]
    <br>
    <br>
    The respondent in this example marked the third response button to indicate that 300,000 jobs {{curr_block.text_total_end}} and 200,000 jobs {{curr_block.text_delay_start}} represents the best economy.
    <br>
    <br>
    How about you? When you are ready to select the combination of jobs created that YOU think represents <strong>the best economy</strong>, click “Next”. Remember, there are no “right” or “wrong” answers.
    <br>
    <br>
</div>

<div  style="text-align: center;">
    {% next_button %}
</div>

{% endblock %}
