{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    ECONOMIC GROWTH INSTRUCTIONS
{% endblock %}

{% block content %}
     <div class="instructions" align="justify">
        <p align="justify">
            In this task, you will make 24 choices over which economic growth rates you would prefer, one time is
            “earlier” and one is “later”. The earlier and later times will vary across decisions. This means you could
            be allocating "growth points" between economic growth this year, and economic growth as late as 2022.
            
        </p>
        <p align="justify">
            In each single decision, you will be given different possibilities on how to allocate "economic growth" between the
            “earlier” and “later” point in time. Please choose your preferred allocation between the two points in time
            by selecting one of those possibilities.
        </p>
     </div>
    {% next_button %}
{% endblock %}


