{% extends "global/Page.html" %}
{% load otree static %}

<style>
    img {
        width: 5%;
    }
</style>

{% block content %}
<div class="instructions" align="justify">
    <h4>
        <p style="text-align:center;">{{title}}</p>
    </h4>
    <p>
        On the following 6 pages, we would now like you to imagine you are looking <strong>backward</strong> at
        <strong>past economic growth</strong> over
        a four-year period.
        <br><br>
        This time, you will see figures with measurements of how much better off people were in <strong>two different
            years</strong> of
        this four-year period.
        <br><br>
        The measurements shown are again <strong>personal income growth:</strong> the percentage by which the average
        person’s income
        increased in a given year.
        <br><br>
        You will again be asked to choose which combination of economic growth in a two-year period you think was best.
        Each screen asks about a different pair of years in the past, four-year period – <strong>please pay close
            attention to
            which two of the four past years you are asked to consider.</strong>
        <br><br>
        To start the task, click “next”.
        <br><br>
    </p>

</div>
<hr>
<br>
{% next_button %}
{% endblock %}