{% extends "global/Page.html" %}
{% load otree static %}

<style>
    img {
        width: 30%;
    }
</style>

{% block content %}
<div class="instructions" align="justify">
    <h4>
        <p style="text-align:center;">{{title}}</p>
    </h4>
    <p>
        On the following 9 pages, we would now like you to imagine you are looking <strong>backward</strong> at
        <strong>past economic growth</strong> over a four-year period.
        <br><br>
        You will see figures with the measurements of how much better off people were in each year of this four-year
        period. The measurements shown are again <strong>personal income growth:</strong> the percentage by which the
        average person’s income increased in each year.
        <br><br>
        After looking at a figure, you’ll similarly be asked to evaluate economy growth during this period. Would you
        say the national economy was very good, fairly good, fairly bad, or very bad?
        <br><br>
        To start the task, click “next”.

    </p>
</div>

<hr>
<br>
{% next_button %}
{% endblock %}