{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

<div class="progress">
    <div class="progress-bar" style="width: {{ progress }}%"></div>
</div>
<br>
<div class="results" align="justify">
    <p>
        How do you see yourself: Are you generally a person who is fully prepared to take risks or do you try to avoid
        taking risks?
        <br><br>
        Please answer on a scale from 0 to 10, where 0 means unwilling to take risks, and 10 means fully prepared to
        take risks.
    </p>
    <div class="formfield text-center">{% formfield player.take_risks label="" %}</div>
</div>

<script>
    function alertFunction() {
        alert("In order for your answers to be most helpful to us, it is really important that you respond to all questions.")
        jQuery('.waiting').hide();
        jQuery('.next-button').show();
        return false
    }
    jQuery(".formfield").on("click", function () {
        jQuery(".next-button").show();
        jQuery(".waiting").hide();
    });
</script>

<div class="waiting" onclick="return alertFunction();">
    {% next_button %}
</div>

<div class="next-button">
    {% next_button %}
</div>

<script>jQuery(".next-button").hide();</script>

{% endblock %}