{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    INSTRUCTIONS
{% endblock %}

{% block content %}
     <div class="instructions" align="justify">
        <p align="justify">
            In this task, you will make 24 choices over how to allocate money between two points in time, one time is
            “earlier” and one is “later”. The earlier and later times will vary across decisions. This means you could
            be receiving payments as early as today, and as late as in February 2021, or possibly other dates in between.
            The decisions you will make will determine your payoff.
        </p>
        <p align="justify">
            In each single decision, you will be given different possibilities on how to allocate money between the
            “earlier” and “later” point in time. Please choose your preferred allocation between the two points in time
            by selecting one of those possibilities.
        </p>
     </div>
    {% next_button %}
{% endblock %}


