.timepref__heading {
    text-align: center;
}

.timepref__plot-start {
    border: none;
}
.timepref__plot-choices {
    border: none;
}

.timepref__plot-choice,
.timepref__plot-choice input {
    cursor: pointer;
}

.timepref__next-button {
    display: none;
}
