{% extends "global/Page.html" %}
{% load otree static %}

<style>
    img {
        width: 5%;
    }
</style>

{% block content %}
<div class="instructions" align="justify">
    <h4>
        <p style="text-align:center;">{{title}}</p>
    </h4>
    <p>
        On the following 6 pages, we would now like you to imagine you are looking <strong>forward</strong> at
        <strong>proposed economic growth
            over a four-year period.</strong>
        <br><br>
        You will see figures with the proposed measurements of how much better off people will be in two different years
        of this four-year period. The measurements shown are again <strong>personal income growth:</strong> the
        percentage by which the
        average person’s income will increase in a given year.
        <br><br>
        You will again be asked to choose which combination of proposed economic growth in a two-year period you think
        is best. Each screen asks about a different pair of years in the future, four-year period – <strong>please pay
            close
            attention to which two of the four future years you are asked to consider.</strong>
        <br><br>
        To start the task, click “next”.

    </p>

</div>
<hr>
<br>
{% next_button %}
{% endblock %}