{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

<div class="results" text-align="justify" style="font-size: larger;">
    <p>On the previous pages, were you answering questions about jobs created in the past or the future?</p>
    <div class="formfield">{% formfield player.check_1 label="" %}</div>
</div>

<script>
    function alertFunction() {
        alert("In order for your answers to be most helpful to us, it is really important that you respond to all questions.")
        jQuery('.waiting').hide();
        jQuery('.next-button').show();
        return false
    }
    jQuery(".formfield").on("click", function () {
        jQuery(".next-button").show();
        jQuery(".waiting").hide();
    });
</script>

<div class="waiting" onclick="return alertFunction();">
    {% next_button %}
</div>

<div class="next-button">
    {% next_button %}
</div>

<script>jQuery(".next-button").hide();</script>

{% endblock %}