{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load staticfiles %}

{% block content %}

<div align="center">
    <h2 text-align="center">
        <strong style="text-transform: uppercase; color: rgb(244,161,13);">FUTURE: </strong><span style="text-transform: uppercase;"> <span style="color: rgb(244,161,13)"> {%  if earlier_time == "now" %} <span style="color: black">{%  endif  %} {{earlier_time}} {%  if earlier_time == "now" %} </span> {%  endif  %} </span> </span> and <span style="text-transform: uppercase;"> <span style="color: rgb(244,161,13)">{{later_time}}</span></span>
    </h2>
</div>
<br>
<div text-align="justify" style="font-size: larger;">
    There is one more pair of periods left. Now, we will ask you several questions about temporary (1-year contract)
    jobs created <strong><span style="color: rgb(244,161,13)"> {%  if earlier_time == "now" %} <span style="color: black">{%  endif  %} {{earlier_time}} {%  if earlier_time == "now" %} </span> {%  endif  %} </span></strong> and temporary jobs created <strong><span style="color: rgb(244,161,13)">{{later_time}}</span></strong>.
</div>
<br>
<br>
<div class="next-button"  style="text-align: center;">
    {% next_button %}
</div>


{% endblock %}
