{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load staticfiles %}


{% block content %}
<div align="center">
    <h2 text-align="center">
        <strong style="text-transform: uppercase; color: rgb(197,28,138);">PAST: </strong><span style="text-transform: uppercase;"><span style="color: rgb(197,28,138)"> {%  if later_time == "now" %} <span style="color: black">{%  endif  %} {{later_time}} {%  if later_time == "now" %} </span> {%  endif  %} </span></span> and <span style="text-transform: uppercase;"><span style="color: rgb(197,28,138)">{{earlier_time}}</span></span>
    </h2>
</div>
<br>
<div text-align="justify" style="font-size: large;">
    For each question, you will see 6 options of how to distribute jobs across periods. The leftmost response button indicates that all 500,000 jobs are created {{later_time}}. The rightmost response button indicates that all jobs are created {{earlier_time}}. The buttons in between represent different combinations of some jobs created {{later_time}} and some jobs created {{earlier_time}}. <strong>So, you decide how to distribute jobs created between the two periods to represent the best economy. </strong>
    <br>
    <br>
    In some questions, the maximum number of jobs that could have been created {{earlier_time}} is larger than the maximum number of jobs that could have been created {{later_time}}; in others, it is smaller or the same. So, the total number of jobs that could have been created over the two periods varies across questions.
    <br>
    <br>
    Here is an example:    
    <br>
    <img src="{% static image_link %}" width="950" height="130"/>
    <br>
    <br>
    The respondent in this example marked the third response button to indicate that 300,000 jobs {{later_time}} and 200,000 jobs {{earlier_time}} represents the best economy.
    <br>
    <br>
    How about you? When you are ready to select the combination of jobs created that YOU think represents <strong>the best economy</strong>, click “Next”. Remember, there are no “right” or “wrong” answers.
    <br>
    <br>
</div>

<div  style="text-align: center;">
    {% next_button %}
</div>

{% endblock %}
