{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load staticfiles %}

{% block content %}
<div align="center">
    <h2 text-align="center">
        <strong style="text-transform: uppercase; color: fuchsia;">PAST: </strong><span style="text-transform: uppercase;">{{later_time}}</span> and <span style="text-transform: uppercase;">{{earlier_time}}</span>
    </h2>
</div>
<br>
<div text-align="justify" style="font-size: large;">
    For each question, you will see 10 green blocks, each representing 50,000 jobs created {{later_time}}. After your first click on any of the blocks, a blue horizontal bar will appear. By dragging the blue bar up and down, you can move each green block between {{later_time}} and {{earlier_time}}. The blue bar lists the number of jobs created in each period. We would like you to arrange the blocks so they show the distribution of jobs across the two periods that you think represents the best economy. 
    <br>
    <br>
    In some questions, moving a block of 50,000 from {{later_time}} to {{earlier_time}} leads to more than 50,000 jobs created earlier. In other questions, it leads to fewer than 50,000 jobs created earlier or leaves the number unchanged. So, the total number of jobs that could have been created over the two periods varies across questions.
    <br>
    <br>
    Here is an example:    
    <br>
    <img src="{% static image_link %}">
    <br>
    <br>
    The respondent in this example thought four blocks of 50,000 job {{later_time}} and six blocks of 50,000 jobs {{earlier_time}} represents the best economy.
    <br>
    <br>
    How about you? When you are ready to select the combination of jobs created that YOU think represents <strong>the best economy</strong>, click “Next”. Remember, there are no “right” or “wrong” answers.
    <br>
    <br>
</div>
<div style="text-align: center;">
    {% next_button %}
</div>

{% endblock %}