{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load staticfiles %}

{% block content %}

<input type="hidden" name="is_mobile" id="is_mobile">

<div align="justify">
    You are being asked to volunteer in a research study. The purpose of the study is to better understand how people
    think about the economy.
</div>

<p>Please click next to proceed.</p>

{{ next_button }}

<script>

function isMobile() {
   return [
     'iPad Simulator',
     'iPhone Simulator',
     'iPod Simulator',
     'iPad',
     'iPhone',
     'iPod'
   ].includes(navigator.platform)
   // iPad on iOS 13 detection
   || (navigator.userAgent.includes("Mac") && "ontouchend" in document)
 }

    // here is an alternative technique that checks screen resolution
    // function isMobile() {
    //     return ((window.innerWidth <= 800) && (window.innerHeight <= 600));
    // }

    document.getElementById('is_mobile').value = isMobile() ? 1 : 0;

</script>

{% endblock %}
