{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load staticfiles %}

{% block content %}

<br>
<div align="justify">
    You are being asked to volunteer in a research study. The purpose of the study is to better understand how people
    think about the economy.
</div>
<br>
<div align="justify">
    You will be asked to consent to participating in this study momentarily. First, so we can optimize your survey experience, please tell us on what device you are taking this survey.
</div>
<br>


<input type="hidden" name="is_mobile_original_method" id="is_mobile_original_method">
<input type="hidden" name="is_mobile" id="is_mobile">

<div class="device-type-questions">
    {% formfield player.device_type label="" %}
</div>
<br>


<script>
    function alertFunction() {
        alert("In order for your answers to be most helpful to us, it is really important that you respond to all questions.")
        jQuery('.waiting').hide();
        jQuery('.next-button').show();
        return false
    }
    jQuery(".device-type-questions").on("input", function () {
        jQuery(".next-button").show()
        jQuery(".waiting").hide()
    });
    const getDeviceType = () => {
        const ua = navigator.userAgent;
        if (/(tablet|ipad|playbook|silk)|(android(?!.*mobi))/i.test(ua)) {
          return "tablet";
        }
        if (
          /Mobile|iP(hone|od)|Android|BlackBerry|IEMobile|Kindle|Silk-Accelerated|(hpw|web)OS|Opera M(obi|ini)/.test(
            ua
          )
        ) {
          return "mobile";
        }
        return "computer";
    };
    document.getElementById("is_mobile_original_method").value = getDeviceType();
</script>

<script>

function isMobile() {
   return [
     'iPad Simulator',
     'iPhone Simulator',
     'iPod Simulator',
     'iPad',
     'iPhone',
     'iPod'
   ].includes(navigator.platform)
   // iPad on iOS 13 detection
   || (navigator.userAgent.includes("Mac") && "ontouchend" in document)
 }

    // here is an alternative technique that checks screen resolution
    // function isMobile() {
    //     return ((window.innerWidth <= 800) && (window.innerHeight <= 600));
    // }

    document.getElementById('is_mobile').value = isMobile() ? 1 : 0;

</script>

<div class="waiting" onclick="return alertFunction();" style="text-align: center;">
    {% next_button %}
</div>

<div class="next-button"  style="text-align: center;">
    {% next_button %}
</div>

<script>jQuery(".next-button").hide();</script>

{% endblock %}
