{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load staticfiles %}

{% block content %}

<div align="justify">
    You are being asked to volunteer in a research study. The purpose of the study is to better understand how people
    think about the economy.
</div>
<br>
<div align="justify">
    You will be asked to consent to participating in this study momentarily.
</div>
<br>
<div align="justify">
    We have detected you are using the following device: <b><span id="reporting_device"></span></b>
</div>

<br>

<div class="device-type-questions">
    {% formfield player.device_type label="" %}
</div>
<br>

<script>
    function alertFunction() {
        alert("In order for your answers to be most helpful to us, it is really important that you respond to all questions.")
        jQuery('.waiting').hide();
        jQuery('.next-button').show();
        return false
    }
    jQuery(".device-type-questions").on("change", function () {
        jQuery(".next-button").show()
        jQuery(".waiting").hide()
    });
    const getDeviceType = () => {
        const ua = navigator.userAgent;
        if (/(tablet|ipad|playbook|silk)|(android(?!.*mobi))/i.test(ua)) {
          return "tablet";
        }
        if (
          /Mobile|iP(hone|od)|Android|BlackBerry|IEMobile|Kindle|Silk-Accelerated|(hpw|web)OS|Opera M(obi|ini)/.test(
            ua
          )
        ) {
          return "mobile";
        }
        return "computer";
    };
    document.getElementById("reporting_device").innerHTML = getDeviceType();
</script>

<div class="waiting" onclick="return alertFunction();" style="text-align: center;">
    {% next_button %}
</div>

<div class="next-button"  style="text-align: center;">
    {% next_button %}
</div>

<script>jQuery(".next-button").hide();</script>

{% endblock %}
