{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load staticfiles %}

{% block title %}
Participation Consent
{% endblock %}

{% block content %}

<div class="question" align="justify">
    You are being asked to volunteer in a research study.
    The purpose of the study is to better understand people think about the economy.
    If you agree to participate, your part will be to read a set of instructions
    and answer a series of questions. It should take around 12 minutes
    of your time. Your answers are anonymous and handled with full confidentiality.
    There are no foreseeable risks or costs to you for participating in this study.
    Your participation is completely voluntary. You do not have to participate if you
    do not want to. If you have any questions, concerns, or complaints about the study,
    you may contact Markus Prior at mprior@princeton.edu. You can also contact the Princeton
    University Institutional Review Board at irb@princeton.edu. If you answer
    “I would like to participate” below, it means that you have read the information
    contained in this form and would like to be a volunteer in this research study.
</div>

<br>

<div class="consent-choice">
    <input type="radio" name="consent" id="yes-consent" value="1" />
    <label for="yes-consent">I would like to participate.</label>
    <br>
    <input type="radio" name="consent" id="no-consent" value="0" />
    <label for="no-consent">I would not like to participate.</label>
</div>

<input id="consent__answer" type="hidden" name="consent_answer" value="{{player.consent_answer}}" <br>
<br>

<script>
    function alertFunction() {
        alert('You must choose "I would like to participate" in order to participate in the study')
        return false
    }
</script>

<div class="waiting" onclick="return alertFunction();">
    {% next_button %}
</div>

<div class="next-button">
    {% next_button %}
</div>


{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'CTB/styles/block.css' %}" />
{% endblock %}

{% block scripts %}
<script src="{% static 'CTB/scripts/consent.js' %}"></script>
{% endblock %}