{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load staticfiles %}

{% block content %}

<div class="question" align="justify">
    So we can optimize your survey experience, please tell us on what device you are taking this survey.
</div>

<br>

<div class="device-type-questions">
    {% formfield player.device_type %}
</div>

<script>
    jQuery(".next-button").hide();
    function alertFunction() {
        alert("In order for your answers to be most helpful to us, it is really important that you respond to all questions.")
        jQuery('.waiting').hide();
        jQuery('.next-button').show();
        return false
    }
    jQuery(".device-type-questions").on("change", function () {
        jQuery(".next-button").show()
        jQuery(".waiting").hide()
    });
</script>

<div class="waiting" onclick="return alertFunction();">
    {% next_button %}
</div>

<div class="next-button">
    {% next_button %}
</div>


{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'CTB/styles/block.css' %}" />
{% endblock %}