{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

<div class="progress">
    <div class="progress-bar" style="width: {{ progress }}%"></div>
</div>
<br>
<div class="results" align="justify">
    <p align="justify">
        If the chance of getting a disease is 1 out of 1000, this would be the same as having a __% chance of getting
        the
        disease.
    </p>

    <div class="formfield">{% formfield player.disease_answer label="% Chance" %}</div>
</div>

<script>
    jQuery(".next-button").hide();
    function alertFunction() {
        alert("In order for your answers to be most helpful to us, it is really important that you respond to all questions.")
        jQuery('.waiting').hide();
        jQuery('.next-button').show();
        return false
    }
    jQuery(".formfield").on("change", function () {
        jQuery(".next-button").show()
        jQuery(".waiting").hide()
    });
</script>

<div class="waiting" onclick="return alertFunction();">
    {% next_button %}
</div>

<div class="next-button">
    {% next_button %}
</div>

{% endblock %}