{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load staticfiles %}

{% block content %}

<hr>

<hr>

<h1 class="timepref__heading">
    {{ title }} 
    <br>
</h1>

</p>
        <p align="justify">
                On the following pages, you will see figures with measurements of how much better off people are during hypothetical U.S. presidents' terms. 
            The measurements shown are percent change in PERSONAL INCOME GROWTH, which provides a good measure of the strength of the national economy. 
            <br>
            <br>
                After looking at a figure, evaluate the economy during this period. Would you say it is very good, fairly good, fairly bad, or very bad?
</p>

<table class="table table-bordered">
    <tbody>
    {% for plot in plots %}
        
    <tr class="timepref__plot-end">
        <td colspan="6" align="center"><span><img src="https://i.imgur.com/PtfIsEV.png"></span></td>
    </tr>

    <tr class="timepref__plot-start timepref__plot-unanswered timepref__plot-index-{{plot.general_index}}">
        <th rowspan="3" width="10">{{ plot.general_index }}.</th>
        <td> How would you rate the condition of <br> the national economy during this period? </td>
        {% for value in plot.start_values %}
        <td class="text-center">{{ value }}</td>
        {% endfor %}
    </tr>

    <tr class="timepref__plot-choices" data-plot-index="{{plot.plot_index}}">
        <td></td>
        {% for index in plot.choice_index %}
        <td class="text-center timepref__plot-choice">
            <input type="radio" name="plot_{{plot.general_index}}" value="{{ index }}" />
        </td>
        {% endfor %}

    <h1></h1>

    {% if not forloop.last %}
    <tr class="timepref__spacer">
        <td></td>
        {% for value in plot.start_values %}
        <td></td>
        {% endfor %}
    {% endif %} <!-- // endif: forloop.last -->
    {% endfor %} <!-- // endfor: curr_block.plots -->
    </tbody>
</table>


<input id="timepref__answers" type="hidden" name="plot_answers" data-page-index="{{ page_index }}" value="{{player.plot_answers}}">

<div class="timepref__waiting">
    You need to fill out all choices in order to continue.
</div>

<div class="timepref__next-button">
{% next_button %}
</div>


{% endblock %}


{% block styles %}
<link rel="stylesheet" href="{% static 'CTB/styles/plot.css' %}"/>
<link rel="stylesheet" href="{% static 'CTB/styles/rangeslider.css' %}"/>
{% endblock %}

{% block scripts %}
<script src="{% static 'CTB/scripts/rangeslider.min.js' %}"></script>
<script src="{% static 'CTB/scripts/plot.js' %}"></script>
{% endblock %}
