{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    {{title}} Instructions
{% endblock %}

{% block content %}
     <div class="instructions" align="justify">
        <p align="justify">
               On the following pages, you will see measurements of how much better off people are in two years of a hypothetical U.S. presidents' term. 
            The measurements shown are percent change in personal income growth, which provides a good measure of the strength of the national economy. 
            <br>
            <br>
               For each pair of years, you will see different combinations of income growth. As you can see, there is a trade-off: as one growth rate goes down,
            the other growth rate goes up. Mark the combination of growth rates that you evaluate as the strongest economy.
            
        </p>
     </div>
    {% next_button %}
{% endblock %}


