{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Part {{round_number}} Instructions
{% endblock %}

{% block content %}
<div class="instructions" align="justify">
    <h4>
        <p style="text-align:center;">{{title}}</p>
    </h4>
    <p>
        {{i_pt1}} <strong>{{i_pt2}}</strong>
        <br>
        <br>
        {{i_pt3}}
        <br>
        <br>
        {{i_pt4}}
        <br>
        <br>
        {{i_pt5}}
        <br>
        <br>
        {{i_pt6}}
        <br>
        <br>
        {{instructions_image_link}}
        <br>
        <br>
    </p>
</div>
<hr>
<br>
{% next_button %}
{% endblock %}