{% extends "global/Page.html" %}
{% load otree static %}

<style>
    img {
        width: 5%;
    }
</style>

{% block content %}
<div class="instructions" align="justify">
    <h4>
        <p style="text-align:center;">{{title}}</p>
    </h4>
    <p>
        {{i_pt1}} <strong>{{i_pt2}}</strong>
        <br>
        <br>
        {{i_pt3}}
        <br>
        <br>
        {{i_pt4}}
        <br>
        <br>
        {{i_pt5}}
        <br>
        <br>
        {{i_pt6}}
        <br>
    <div align="center"><img src={{instructions_image_link}} width=70%></div>
    <br>
    {{i_pt7}}
    <br>
    <br>
    {{i_pt8}}
    <br>
    <br>
    <strong>{{i_pt9}}</strong>
    </p>

</div>
<hr>
<br>
{% next_button %}
{% endblock %}