{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Part {{round_number}} Instructions
{% endblock %}

<style>
    img {
        width: 30%;
    }
</style>

{% block content %}
<div class="instructions" align="justify">
    <h4>
        <p style="text-align:center;">{{title}}</p>
    </h4>
    <p>
        {{i_pt1}} <strong>{{i_pt2}}</strong>
        <br>
        <br>
        {{i_pt3}}
        <br>
        <br>
        {{i_pt4}}
        <br>
        <br>
        {{i_pt5}}
        <br>
        <br>
    <div align="center"><img src={{instructions_image_link}} width=70%></div>
    <br>
    <br>
    {{i_pt6}}
    </p>
</div>

<hr>
<br>
{% next_button %}
{% endblock %}