{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load staticfiles %}

{% block title %}
Instructions
{% endblock %}

{% block content %}

<div text-align="justify" style="font-size: large;">
The next section of this survey is about your views of <span style="color: fuchsia">past</span> <strong>temporary job creation</strong> 
now, a year ago, and five years ago. 
<br>
<br>
First, we will ask you several questions about temporary (1-year contract) jobs created <strong>{{later_time}}</strong> and 
temporary jobs created <strong>{{earlier_time}}</strong>. 
<br>
<br>
In each question, you will be able to indicate which combination of temporary jobs created <strong>{{later_time}}</strong> and <strong>{{earlier_time}}</strong> 
you think represents the best economy. Some people might think the best economy creates all temporary jobs <strong>{{later_time}}</strong> 
even though that means higher unemployment <strong>{{earlier_time}}</strong>. Other people may think the best economy creates all temporary jobs 
<strong>{{earlier_time}}</strong> even though that means higher unemployment <strong>{{later_time}}</strong>. Still others may think the best 
economy divides the number of jobs created between the two periods. 
<br>
<br>

<div style="text-align: center;">
    {% next_button %}
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'consent/scripts/consent.js' %}"></script>
{% endblock %}