{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load staticfiles %}

{% block content %}

<div text-align="justify" style="font-size: large;">
The next section is about the strength of the national economy. A series of questions will ask you about <strong>personal income growth</strong>, a measure of how much better off people are than they used to be. 
Personal income growth is calculated as the percentage by which the average person’s income increases in a given year. This provides a <strong>good measure of the strength of the national economy.</strong>
<br>
<br>

<div style="text-align: center;">
    {% next_button %}
</div>

{% endblock %}
